<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="http://css.jx3pve.com/css/zt/fb-old.css">
<div class="fb-old-mjmd">
    <div class="oldfb">
        <div class="oldfb-sidebar">
        </div>

        <div class="oldfb-content">
            <div class="oldfb-author"><!--{block/1552}--></div>

            <div class="oldfb-primary">
            <div class="fb-mjmd">    <!--{block/1553}--></div>
            
            </div>
        </div>

        <div class="clear"></div>
        <div class="oldfb-cmt">
            <!--{if $topic['allowcomment']==1}-->
            {eval
            $data = &$topic;
            $common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
            $form_url = "portal.php?mod=portalcp&ac=comment";
            $commentlist = portaltopicgetcomment($topicid); }
            <!--{template portal/portal_comment}-->
            <!--{/if}-->
        </div>
        <script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}"
                type="text/javascript"></script>

    </div>
</div>




<!--{template common/footer}-->
