<!--{template common/header}-->

<link rel="stylesheet" type="text/css" href="http://css.jx3pve.com/css/zt/fb-dxc.css">
		
<div class="fb-dxc">
<div class="fb-dxc-main">
	<div class="fb-dxc-author"><!--{block/764}--></div>
	<div class="fb-dxc-sidebar">
		<ul>
			<li><a href="http://www.jx3pve.com/fb/fxdxc/dxc1"></a></li>
			<li><a class="dxc-s-2" href="http://www.jx3pve.com/fb/fxdxc/dxc2"></a></li>
			<li><a href="http://www.jx3pve.com/fb/fxdxc/dxc3"></a></li>
			<li><a href="http://www.jx3pve.com/fb/fxdxc/dxc4"></a></li>
		</ul>
		<div class="clear"></div>
		<div class="fb-dxc-misc"><!--{block/765}--></div>
	</div>

	<div class="fb-dxc-content dxc-c-2">
            <div class="fb-dxc-primary">
                <div class="frame-tab cl">
                    <div class="tab-title title">
                        <ul class="tb cl">
                            <li class="a"><a>25人攻略</a></li>
                            <li><a>10人攻略</a></li>
                            <li><a>视频攻略</a></li>
                        </ul>
                    </div>
                    <div class="tb-c">
                        <div class="content"><!--{block/1537}--></div>
                        <div class="content" style="display: none;"><!--{block/1538}--></div>
                        <div class="content" style="display: none;">
                            <!--{block/1539}--></div>
                    </div>
                </div>
		</div>
		<div class="fb-dxc-cmt">
			<!--{if $topic['allowcomment']==1}-->
				{eval
					$data = &$topic;
					$common_url = "portal.php?mod=comment&id=$topicid&idtype=topicid";
					$form_url = "portal.php?mod=portalcp&ac=comment";
					$commentlist = portaltopicgetcomment($topicid);	}
				<!--{template portal/portal_comment}-->
			<!--{/if}-->
		</div>
	</div>
	
	<div class="clear"></div>
	<script src="misc.php?mod=diyhelp&action=get&type=topic&diy=yes&topicid=$topicid&r={echo random(4)}" type="text/javascript"></script>
	<script src="http://js.jx3pve.com/js/page/page-fb-old.js" type="text/javascript"></script>
</div>
</div>
<!--{template common/footer}-->