<!--{template common/header}-->


<div id="page" class="yz-page fb-xz-1">
		<div id="wp" class="wp">

<div class="trans-ct">
	<div class="trans-ct-ct">
		
		<div class="fb-left">
			排行榜
			<div class="fromtips"><!--{block/234}--></div>
			<div class="fabu5j"><!--{block/235}--></div>
		</div>
		
		<div class="fb-right">

			<div class="fb-header">
				<h1>
					BOSS1名字 
				</h1> 

				<div class="fb-boss-tab">
					<!--{block/288}-->
				</div>

				<div id="fb-fx">
					<!--{block/1652}-->
				</div>
			</div>

			<div class="area">
				内容区域 2个tab
			</div>
		
			
			<div class="fb-list">
				<div class="fb-authors-info">
					<!--{block/343}-->
				</div>
			</div>	

			<div class="fb-comment">
				<!--{block/238}-->
			</div>

		</div>
		

	</div>
</div>

<!--{template common/footer}-->