<!--{template common/header}-->
<link rel="stylesheet" type="text/css" href="http://css.jx3pve.com/css/zt/fb-xz.css">
<div id="page" class="yz-page fb-xz">
    <div id="wp" class="wp">
        <div class="trans-ct">
            <ul class="xz-navpage">
                <h1><a href="http://www.jx3pve.com" title="剑网3PVE·血战天策"> </a></h1>
                <li class="xz-navpage-item1"><a href="http://www.jx3pve.com/fb/xuezhan/xishuyun/" title="席庶云"> </a></li>
                <li class="xz-navpage-item2"><a href="http://www.jx3pve.com/fb/xuezhan/gushoutiancefu/"  title="固守天策府"> </a></li>
                <li class="xz-navpage-item3"><a href="http://www.jx3pve.com/fb/xuezhan/caoyanlie/"  title="曹炎烈"> </a></li>
                <li class="xz-navpage-item4"><a href="http://www.jx3pve.com/fb/xuezhan/qingzhuimuchang/"  title="青骓牧场"> </a></li>
                <li class="xz-navpage-item5"><a href="http://www.jx3pve.com/fb/xuezhan/leilang/"  title="沙叱博"> </a></li>
                <li class="xz-navpage-item6"><a href="http://www.jx3pve.com/fb/xuezhan/alishinacongli/"  title="阿史那从礼"> </a></li>
                <li class="xz-navpage-item7"><a href="http://www.jx3pve.com/fb/xuezhan/heichiyuanyou/"  title="黑齿元祐"> </a></li>
                <li class="xz-navpage-item8"><a href="http://www.jx3pve.com/fb/xuezhan/sumansha/"  title="苏曼莎"> </a></li>
                <li class="xz-navpage-item9"><a href="http://www.jx3pve.com/fb/xuezhan/linghushang/"  title="令狐伤"> </a></li>
                <div class="clear"></div>
            </ul>
        </div>
    </div>
</div>
<!--{template common/footer}-->
