<!--{template common/header}-->
<script src="http://js.jx3pve.com/js/page/page-index.js"></script>
<div class="index-container">
    <div class="wp">

        <!--1.slider-->
        <div class="m-index-slider m-index-block">
            <div class="jx3pve-slider" id="jx3pve-slider">
                <!--{block/1496}-->
                <!--{block/1497}-->
            </div>
        </div>

        <!--2.qclink-->
        <div class="m-index-qclink m-index-block">
            <div class="m-tools"><!--{block/1719}--></div>
            <div class="m-zt"><!--{block/1720}--></div>
        </div>

        <!--3.top-->
        <div class="m-index-top m-index-block">
            <div class="m-news"><!--{block/518}--></div>
            <div class="m-tool">
                <ul>
                    <h3>宏&nbsp;辅&nbsp;助</h3>
                    <!--{block/1386}-->
                </ul>
                <ul>
                    <h3>职业辅助</h3>
                    <!--{block/1387}-->
                </ul>
                <ul>
                    <h3>休闲辅助</h3>
                    <!--{block/1388}-->
                </ul>
                <ul>
                    <h3>节日辅助</h3>
                    <!--{block/1389}-->
                </ul>
                <ul>
                    <h3>其他更多</h3>
                    <!--{block/1390}-->
                </ul>
                <ul>
                    <h3>热门下载</h3>
                    <!--{block/1391}-->
                </ul>
            </div>
        </div>

        <!--4.channel-->
        <div class="m-index-channel m-index-block">
            <div class="m-index-channel-wrapper">
                <div class="m-macro m-channel">
                    <i class="ico">PVE</i>
                    <h2 class="til"><a href="./macro" target="_blank">宏库</a></h2>
                    <span class="des">全心法最新原创宏基地</span>
                    <div class="link"><!--{block/1722}--></div>
                    <div class="list"><!--{block/1395}--></div>
                    <p class="more"><a href="./macro" target="_blank">查看更多</a></p>
                </div>
                <div class="m-tool m-channel">
                    <i class="ico">PVN</i>
                    <h2 class="til"><a href="./tool" target="_blank">工具</a></h2>
                    <span class="des">最好用的游戏扩展工具</span>
                    <div class="link"><!--{block/1723}--></div>
                    <div class="list">
                        <ul>
                            <h3>职业</h3>
                            <!--{block/1387}-->
                        </ul>
                        <ul>
                            <h3>休闲</h3>
                            <!--{block/1388}-->
                        </ul>
                        <ul>
                            <h3>节日</h3>
                            <!--{block/1389}-->
                        </ul>
                        <ul>
                            <h3>其他</h3>
                            <!--{block/1390}-->
                        </ul>
                        <ul>
                            <h3>热门</h3>
                             <!--{block/1391}-->
                        </ul>
                    </div>
                    <p class="more"><a href="./tool" target="_blank">查看更多</a></p>
                </div>
                <div class="m-role m-channel">
                    <i class="ico">PVE</i>
                    <h2 class="til"><a href="./role" target="_blank">职业</a></h2>
                    <span class="des">大神之路·全职业白皮书</span>
                    <div class="link"><!--{block/1724}--></div>
                    <div class="list"><!--{block/1236}--></div>
                    <p class="more"><a href="./role" target="_blank">查看更多</a></p>
                </div>
                <div class="m-fam m-channel">
                    <i class="ico">PVE</i>
                    <h2 class="til"><a href="./fam" target="_blank">副本</a></h2>
                    <span class="des">首甲团出品开荒全指南</span>
                    <div class="link"><!--{block/1725}--></div>
                    <div class="list"><!--{block/903}--></div>
                    <p class="more"><a href="./fam" target="_blank">查看更多</a></p>
                </div>
                <div class="m-raid m-channel">
                    <i class="ico">PVE</i>
                    <h2 class="til"><a href="./raid" target="_blank">团队</a></h2>
                    <span class="des">团队招募信息平台</span>
                    <div class="link"><!--{block/1726}--></div>
                    <div class="list"><!--{block/1406}--></div>
                    <p class="more"><a href="./raid" target="_blank">查看更多</a></p>
                </div>
                <div class="m-face m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="./face" target="_blank">捏脸</a></h2>
                    <span class="des">原创精品脸型分享</span>
                    <div class="link"><!--{block/1727}--></div>
                    <div class="list"><!--{block/1728}--></div>
                    <p class="more"><a href="./face" target="_blank">查看更多</a></p>
                </div>
                <div class="m-biz m-channel">
                    <i class="ico">PVN</i>
                    <h2 class="til"><a href="./biz" target="_blank">交易</a></h2>
                    <span class="des">免费的交易信息平台</span>
                    <div class="link"><!--{block/1729}--></div>
                    <div class="list"><!--{block/1730}--></div>
                    <p class="more"><a href="./biz" target="_blank">查看更多</a></p>
                </div>
                <div class="m-qiyu m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="./qiyu" target="_blank">奇遇</a></h2>
                    <span class="des">奇遇完全指南</span>
                    <div class="link"><!--{block/1731}--></div>
                    <div class="list"><!--{block/1732}--></div>
                    <p class="more"><a href="./qiyu" target="_blank">查看更多</a></p>
                </div>
                <div class="m-pet m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="./pet" target="_blank">宠物</a></h2>
                    <span class="des">宠物捕捉攻略(待改版)</span>
                </div>
                <div class="m-book m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="./book" target="_blank">茶馆</a></h2>
                    <span class="des">图文影音(待改版)</span>
                </div>
                <div class="m-video m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="./video" target="_blank">视频</a></h2>
                    <span class="des">旧版视频专栏(停更)</span>
                </div>
                <div class="m-cj m-channel">
                    <i class="ico">PVX</i>
                    <h2 class="til"><a href="http://www.jx3yymj.com" target="_blank">成就</a></h2>
                    <span class="des">成就完全指南</span>
                </div>




            </div>
        </div>


    </div>
</div>
<!--{template common/footer}-->