<!--{template common/header}-->
<script src="http://js.jx3pve.com/js/page/page-index.js"></script>
<div class="index-container">
    <div class="wp">
    
        <div class="index-content">
        
            <div class="index-primary">

                <!--1.slider-->
                <div class="m-index-slider m-index-block">
                    <!--{block/1733}-->
                </div>

                <!--2.news-->
                <div class="m-index-news m-index-block">
                    <div class="m-index-til">
                        <h2 class="til">新鲜干货<i></i></h2>
                        <div class="link">
                            <ul><!--{block/1734}--></ul>
                        </div>
                    </div>
                    <div class="m-index-newslist">
                        <!--{block/518}-->
                    </div>
                </div>

                <!--3.zt-->
                <div class="m-index-zt  m-index-block">
                    <div class="m-index-zt-wrapper">
                        <!--{block/1720}-->
                    </div>
                </div>

            </div>

            <div class="index-sidebar">
                
                <!--4.app-->
                <div class="m-index-app m-index-block">
                    <div class="app"><!--{block/1719}--></div>
                </div>

                <!--5.channel-->
                <div class="m-index-channel m-index-block">
                    <div class="m-macro m-channel">
                        <i class="ico">PVE</i>
                        <h2 class="til"><a href="./macro" target="_blank">宏库</a></h2>
                        <span class="des">全心法最新原创宏基地</span>
                        <div class="link"><!--{block/1722}--></div>
                    </div>
                    <div class="m-tool m-channel">
                        <i class="ico">PVN</i>
                        <h2 class="til"><a href="./tool" target="_blank">工具</a></h2>
                        <span class="des">最好用的游戏扩展工具</span>
                        <div class="link"><!--{block/1723}--></div>
                    </div>
                    <div class="m-role m-channel">
                        <i class="ico">PVE</i>
                        <h2 class="til"><a href="./role" target="_blank">职业</a></h2>
                        <span class="des">高玩必备·全职业白皮书</span>
                        <div class="link"><!--{block/1724}--></div>
                    </div>
                    <div class="m-fam m-channel">
                        <i class="ico">PVE</i>
                        <h2 class="til"><a href="./fam" target="_blank">副本</a></h2>
                        <span class="des">首甲团出品开荒全指南</span>
                        <div class="link"><!--{block/1725}--></div>
                    </div>
                    <div class="m-raid m-channel">
                        <i class="ico">PVE</i>
                        <h2 class="til"><a href="./raid" target="_blank">团队</a></h2>
                        <span class="des">团队招募信息平台</span>
                        <div class="link"><!--{block/1726}--></div>
                    </div>
                    <div class="m-biz m-channel">
                        <i class="ico">PVN</i>
                        <h2 class="til"><a href="./biz" target="_blank">交易</a></h2>
                        <span class="des">免费的交易信息平台</span>
                        <div class="link"><!--{block/1729}--></div>
                    </div>
                    <div class="m-face m-channel">
                        <i class="ico">PVX</i>
                        <h2 class="til"><a href="./face" target="_blank">捏脸</a></h2>
                        <span class="des">原创精品脸型分享</span>
                        <div class="link"><!--{block/1727}--></div>
                    </div>
                    <div class="m-pet m-channel">
                        <i class="ico">PVX</i>
                        <h2 class="til"><a href="./bbs" target="_blank">休闲</a></h2>
                        <span class="des">休闲攻略指南</span>
                        <div class="link"><!--{block/1736}--></div>
                    </div>
                    <div class="m-bbs m-channel">
                        <i class="ico">PVN</i>
                        <h2 class="til"><a href="./ask" target="_blank">论坛</a></h2>
                        <span class="des">论坛交流讨论</span>
                        <div class="link"><!--{block/1737}--></div>
                    </div>
                    <div class="m-pet m-channel">
                        <i class="ico">PVN</i>
                        <h2 class="til"><a href="./bbs" target="_blank">帮助</a></h2>
                        <span class="des">网站反馈系统</span>
                        <div class="link"><!--{block/1738}--></div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="index-footer">
    <div class="wp">
        <div class="copyright"><!--{block/1510}--></div>
        <div class="links">
            <ul>
                <li>友情链接：</li>
                <!--{block/1511}-->
            </ul>
        </div>
    </div>
</div>
<!--{template common/footer}-->