<!-- 会员简介 -->
<div class="block">
	<h2 class="vip-pc-title">尊贵特权<span>Honorable privilege &raquo;</span></h2>
	<ul class="vip-pc-intro"></ul>
</div>

<!-- 会员权利 -->
<div class="block">
	<h2 class="vip-pc-title">全部特权<span>All VIP privileges &raquo;</span></h2>
	<div class="vip-pc-details">
		<!--{block/475}-->
	</div>
</div>

<div class="none"><script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256810945'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256810945' type='text/javascript'%3E%3C/script%3E"));</script></div>