<div class="m-raid-search w-sortnav">
    <div class="w-sortnav-font">
        <div id="fontsearch">
           <!--{subtemplate forum/fwq}-->
        </div>
    </div>
    <div class="w-sortnav-form">
        <form method="post" autocomplete="off" name="searhsort" id="searhsort" action="forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9">
            <span class="label">团队名称:</span>
            <input class="px vm" type="text" name="searchoption[76][value]" size="15" value="">
            <button class="u-button-search" type="submit" name="searchsortsubmit">搜索</button>
        </form>
    </div>
</div>