<h2>分类导航<a class="u-btn-pub" href="./forum.php?mod=post&action=newthread&fid=67" target="_blank">快速发布</a></h2>
<ul class="m-raid-sort">
    <li><a class="team" href="./forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=9"><i></i>团队招募<em>Join a team</em></a></li>
    <li><a class="person" href="./forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=13"><i></i>演员应聘<em>Recruit a member</em></a></li>
    <li><a class="jiebao" href="./forum.php?mod=forumdisplay&fid=67&filter=sortid&sortid=12"><i></i>五甲捷报<em>FD of raid</em></a></li>
    <li><a class="biz" href="./group" target="_blank"><i></i>团队专栏<em>Space of team</em></a></li>
</ul>

<div class="m-raid-filter s-filter-font">
	<h2>筛选查找</h2>
    <!--{subtemplate jx3pve/s_filter_font}-->
</div>

<h2>推荐团长<a class="u-tips-faq" href="./misc.php?mod=faq&action=faq&id=56&messageid=106" target="_blank" title="如何获得推荐团长？"></a></h2>
<div class="m-pvx-table m-raid-leader">
    <!--{block/890}-->
</div>

<h2>任务奖励<a class="more" href="./home.php?mod=task" target="_blank">更多</a></h2>
<div class="m-raid-tasklist m-pvx-tasklist">
    <!--{block/1277}-->
</div>