<div class="biz-trading-list">
    <ul>
        [loop]
        <li>
            <h3><label>【{typename}】</label>{subject}</h3>
            <span class="c-authentication">
                    <span class="bg"><img src="{itempic_value}" alt=""></span>
                    <i class="verif"><span>{author_verify}</span></i></span>

            <div class="info">
                <span class="span-zt">状态：<label>{salestatus_value}</label></span>
                <span class="span-fwq">服务器：<label>{fuwuqi_value}</label></span>
                <span class="span-man">发布人：<label>{author}</label></span>
                <span class="span-time">发布时间：<label>{dateline}</label></span>
                <span class="span-view">人气度：<label>{views}</label> </span>
            </div>
            <a class="box-a" href="{subject_url}" target="_blank"></a>
        </li>
        [/loop]
    </ul>
</div>

<div class="u-baseinfo">
    <h3>基本信息</h3>
</div>
<div class="m-biz-view">
    <div class="m-biz-pic u-imgorigin" title="点击查看原图">
        <img src="{biz_pic_value}" alt=""/>
    </div>
    <div class="m-biz-info">
        <ul>
            <li><label>{biz_status}:</label><span class="u-biz-status">{biz_status_value}</span></li>
            <li><label>{biz_type}:</label><span>{biz_type_value}</span></li>
            <li><label>{fuwuqi}:</label><span>{fuwuqi_value}</span></li>
            <li><label>{biz_price}:</label><span>{biz_price_value}</span></li>
            <li><label>{contact}:</label><span>{contact_value}</span></li>
        </ul>
    </div>
</div>
<div class="u-moreinfo">
    <h3>更多说明</h3>
</div>