<div class="m-biz-view">
    <div class="m-biz-pic u-imgorigin" title="点击查看原图">
        <img src="{biz_pic_value}" alt=""/>
    </div>
    <div class="m-biz-info">
        <ul>
            <li><label>{biz_status}:</label><span>{biz_status_value}</span></li>
            <li><label>{biz_type}:</label><span>{biz_type_value}</span></li>
            <li><label>{fuwuqi}:</label><span>{fuwuqi_value}</span></li>
            <li><label>{biz_price}:</label><span>{biz_price_value}</span></li>
            <li><label>{contact}:</label><span>{contact_value}</span></li>
        </ul>
    </div>
</div>