<div class="c-float-help" id="c-float-help">
	<ul>
		<li><a class="report" href="javascript:;" onclick="showWindow('miscreport', 'misc.php?mod=report&url='+REPORTURL);return false;" title="快速举报资源失效"><i></i>举报</a></li>
		<li><a class="help" href="./faq" target="_blank" title="遇到问题，先看看帮助手册"><i></i>帮助</a></li>
		<li><a class="feedback" href="./feedback" target="_blank" title="反馈Bug或建议"><i></i>反馈</a></li>
		<li><a class="gotop" id="c-float-gotop" href="javascript:void(0)" title="回到顶部">回到顶部</a></li>
	</ul>
	<p class="wxcode" id="c-float-wx-code" title="打开微信,点击右上角+号进行扫一扫">
		<img src="http://img.jx3pve.com/img/header/wx_129.jpg" alt="">
	</p>
	<span class="close" id="c-float-close"><i></i><em>关闭</em></span>
</div>