<!--{if $quicksearchlist && !$_GET['archiveid']}-->
	
	<div class="s-filter" id="s-filter">

		<script type="text/javascript">
			var forum_optionlist = <!--{if $forum_optionlist}-->'$forum_optionlist'<!--{else}-->''<!--{/if}-->;
		</script>
		<script type="text/javascript" src="{$_G['setting']['jspath']}threadsort.js?{VERHASH}"></script>

		<!--{loop $quicksearchlist $optionid $option}-->
			<!--{eval $fontsearch = '';$showoption = array();$tmpcount = 0;}-->
			<!--{if getstatus($option['search'], 2)}-->
		    	<!--{block fontsearch}-->
		    	<div class="item">
					<span class="label">$option[title]</span>
		            <div class="value">
		            	<span class="default"><em>不限</em><i></i></span>
		                <ul class="extend cl {if $option[identifier]=='fuwuqi'}u-fwq-1{/if}">
		                    <li{if $_GET[''.$option[identifier]] == 'all'} class="a"{/if}><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_GET['sortid']&searchsort=1$filterurladd&$option[identifier]=all$sorturladdarray[$option[identifier]]" class="xi2">{lang unlimited}</a></li>
							<!--{if $option[type] == 'select'}-->
								<!--{loop $option['choices'] $id $value}-->
									<!--{if $value[foptionid] == 0}-->
									<li{if preg_match('/^'.$value[optionid].'\./i', $_GET[''.$option[identifier]]) || preg_match('/^'.$value[optionid].'$/i', $_GET[''.$option[identifier]])} class="a"{/if}><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_GET[sortid]&searchsort=1&$option[identifier]=$id$sorturladdarray[$option[identifier]]" class="xi2">$value[content]</a></li>
									<!--{/if}-->
								<!--{/loop}-->
								<!--{if !($_GET[''.$option[identifier]] == 'all' || !isset($_GET[''.$option[identifier]]))}-->
									<!--{loop $option['choices'] $id $value}-->
										<!--{if (preg_match('/^'.$value[foptionid].'\./i', $_GET[''.$option[identifier]]) || preg_match('/^'.$value[foptionid].'$/i', $_GET[''.$option[identifier]])) && ($showoption[$value[count]][$id] = $value)}-->
										<!--{/if}-->
									<!--{/loop}-->
									<!--{if ksort($showoption)}--><!--{/if}-->
									<!--{loop $showoption $optioncount $values}-->
										<!--{if $tmpcount != $optioncount && ($tmpcount = $optioncount)}-->
										</ul>
										<ul class="extend subtsm cl">
											<!--{loop $values $id $value}-->
												<li{if preg_match('/^'.$value[optionid].'\./i', $_GET[''.$option[identifier]]) || preg_match('/^'.$value[optionid].'$/i', $_GET[''.$option[identifier]])} class="a"{/if}><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_GET[sortid]&searchsort=1&$option[identifier]=$id$sorturladdarray[$option[identifier]]" class="xi2">$value[content]</a></li>
											<!--{/loop}-->
										</ul>
										<ul>
										<!--{/if}-->
									<!--{/loop}-->
								<!--{/if}-->
							<!--{else}-->
								<!--{loop $option['choices'] $id $value}-->
									<li{if $_GET[''.$option[identifier]] && !strcmp($id, $_GET[''.$option[identifier]])} class="a"{/if}><a href="forum.php?mod=forumdisplay&fid=$_G[fid]&filter=sortid&sortid=$_GET[sortid]&searchsort=1&$option[identifier]=$id$sorturladdarray[$option[identifier]]" class="xi2">$value</a></li>
								<!--{/loop}-->
							<!--{/if}-->
		                </ul>
		            </div>
		        </div>
				<!--{/block}-->
		     <!--{/if}-->
		     <!--{eval $fontsearch_html .= $fontsearch;}-->
		<!--{/loop}-->

		<!--{if $fontsearch_html}-->
		    <div class="s-filter-box s-filter-font">
		    	<div class="s-filter-til">筛选<span>FILTER</span></div>
			    <div class="s-filter-list" id="fontsearch">
			        $fontsearch_html
			    </div>
		    </div>
		<!--{/if}-->

	</div>

<!--{/if}-->