.biz-viewpage{
    #postlist .vwthd .ts .m-count{
        .none;
    }
    #postlist .c-fli-first .m-extend{
        .none;
    }
    #postlist .c-fli-first  #vfastpostform{
        .none;
    }
}

.m-biz-view{
    .clearfix;
    .auto(x);
}
.m-biz-pic{
    .fl;
    .bo(o, 1px solid #ddd);
    .p(o, 30px);
    .size(220px, 140px);
    img {
        .full;
    }
}
.m-biz-contact{
    .fr;
    a{
        margin-bottom:10px;
    }
}
.m-biz-info{
    margin-left:300px;
    .w(480px);
    ul {
        li {
            .fz(12px, 32px);
            .size(100%, 32px);
            .bo(r, 3px solid #ddd);
            .bgc(#f1f1f1);
            .r(3px);
            .m(b, 10px);
        }
        label {
            .color(#666);
            .p(o, 0px 10px 0px 20px);
            cursor: default;
            .dbi;.w(60px);
        }
        span {
            .color(#049abf);
            a{text-decoration:underline;}
        }
        .u-biz-status{
            color:#fff;
            padding:0 10px;
        }
        .u-privacy-contact{
            color:#999;
        }
    }
}

