.biz-viewpage{
    #postlist .vwthd .ts .m-count{
        .none;
    }
}

.m-biz-view{
    .clearfix;
    margin:50px auto 20px auto;
    .w(90%);
}
.m-biz-pic{
    .fl;
    .bo(o, 1px solid #ddd);
    .p(o, 30px);
    .size(220px, 140px);
    img {
        .full;
    }
}
.m-biz-info{
    margin-left:300px;
    ul {
        li {
            .fz(12px, 32px);
            .size(100%, 32px);
            .bo(r, 3px solid #ddd);
            .bgc(#f1f1f1);
            .r(3px);
            .m(b, 10px);
        }
        label {
            .color(#666);
            .p(o, 0px 10px 0px 20px);
            cursor: default;
        }
        span {
            .color(#049abf);
        }
    }
}





.biz-trading-list {
  ul {
    .clearfix;
    li {
      .pr;
      .fl;
      .clearfix;
      .clip;
      .w(380px);
      .m(r, 38px);
      .p(o, 10px 20px 20px 20px);
      .box-a {
        .db;
        .pa;
        .full;
        .lt(0, 0);
      }
      .box-a:hover {
        -webkit-box-shadow: inset 0 0 100px #ddd;
        -moz-box-shadow: inset 0 0 100px #ddd;
        box-shadow: inset 0 0 100px #ddd;
        .r(6px);
      }
      h3 {
        .nobreak;
        .fzlh(14px, 32px, 32px);
        .color(#222);
        .p(b, 10px);
        label {
          .color(#9900ff);
        }
      }
      .c-authentication {
        .db;
        .fl;
        .pr;
        .p(o, 10px);
        .m(r, 10px);
        .bo(o, 1px solid #ddd);
        .size(200px, 120px);
        img {
          .size(200px, 120px);
        }
        .bg {
          .db;
          .size(200px, 120px);
          background: url("http://img.jx3pve.com/img/header/jx3pve-logo-white.png") center #ddd no-repeat;
        }
      }
      .info {
        .fr;
        .m(t, 12px);
        .size(148px, 100%);
        span {
          .db;
          .clip;
          .w(100%);
          .lh(24px);
          .color(#444);
        }
        .span-zt label {
          .color(#f00);
        }
      }
    }
  }
}



