.m-biz-list{
	
	ul{

	}
	li{
		&:hover{
			background-color: #EAF8FC;
		}
	}
	a{
		.db;
		.lh(24px);
		padding:6px 0;
		.clearfix;
	}
	.thead{
	    border-bottom: 1px dotted #ccc;
	    padding-top: 5px;
	    .x;

		.biz-status{
			background: none;
			color:#444;
		}
	    .biz-fwq{
	    	.x;
	    	color:#444;
	    }
	    .biz-dateline{
	    	.x(right);
	    	color:#444;
	    }
	}
	.tbody{
		border-bottom: 1px solid #C2D5E3;
	}
	span{
		.db;.fl;
		.clip;
		.nobreak;
	}
	em{
		color:#999;
		margin-right:3px;
	}
	.biz-status{
		.w(60px);.x;
		background-color:@bluex;
		color:#fff;
		.r(4px);
		&.onsale{
			background-color:#19B919;
		}
		&.onbuy{
			background-color:@yel;
		}
		&.exp{
			background-color:#aaa;
		}
	}
	.biz-fwq{
		margin-left:10px;
		.w(160px);
		color:#888;
	}
	.biz-title{
		width:560px;
	}
	.biz-type{
		.size(24px);
		.db;.fl;
		b{.none;}
		&.type-1{
			background:url('@{url}biz/type-1.png') no-repeat 0 0;
		}
		&.type-2{
			background:url('@{url}biz/type-2.png') no-repeat 0 0;
		}
		&.type-3{
			background:url('@{url}biz/type-3.png') no-repeat 0 0;
		}
		&.type-4{
			background:url('@{url}biz/type-4.png') no-repeat 0 0;
		}
	}
	.biz-dateline{
		.fr;
		padding-left:10px;
		color:#666;
	}

}




